.delete{
    position: absolute;
    width: 100%;
}
.delete-container{
    margin-top: 8vh;
    height: 92vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
}
.delete-form-container{
    padding: 5%;
    border-radius: 50px;
    box-shadow: 0px 0px 5px #ccc;
    background-color: rgb(176, 212, 221);
    
}